<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crimson Caravan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-white topNav">
			<div class="container">
				<div class="navbar-brand">
					<i><%= link_to "The Crimson Caravan", root_path, :alt => "Logo", :class => "navbar-item subtitle is-4" %></i>
					<div class="navbar-burger burger" data-target="topNav">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Weapons", weapons_path, :class => "navbar-item" %>
          <a class="navbar-item" href="#">Ammunition (coming soon)</a>
          <%= link_to "About", about_path, :class => "navbar-item" %>
          <%= link_to "Contact", contact_path, :class => "navbar-item" %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if user_signed_in? %>
                <p class="control">
                  <span class="tag is-small is-primary is-outlined">
                      <i class="fas fa-sign-out-alt" style="padding-right: 5px;"></i>
                      <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
                  </span>
              <% else %>
                <p class="control">
                  <span class="tag is-small is-primary is-outlined">
                      <i class="fas fa-sign-in-alt" style="padding-right: 5px;"></i>
                      <%= link_to "Log in", new_user_session_path, :method => :get %>
                  </span>
                </p>
              <% end %>
              <p class="control">
                <span class="tag is-small is-primary is-outlined">
                    <i class="fas fa-shopping-cart" style="padding-right: 5px;"></i>
                    <%= link_to "Cart", cart_path, :method => :get %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <% if flash[:notice].present? %>
    <div class="notification is-primary">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  <% end %>