<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crimson Caravan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-info is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <i><%= link_to "The Crimson Caravan", root_path, :alt => "Logo", :class => "navbar-item subtitle is-4" %></i>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <%= link_to "Weapons", weapons_path, :class => "tag is-white is-outlined" %>
                </span>
                <span class="navbar-item">
                  <a class="tag is-white is-outlined" href="#">
                    <span>Ammunition</span>
                  </a>
                </span>
                <span class="navbar-item">
                  <%= link_to "About", about_path, :class => "tag is-white is-outlined" %>
                </span>
                <span class="navbar-item">
                 <%= link_to "Contact", contact_path, :class => "tag is-white is-outlined" %>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>