<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crimson Caravan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <i><%= link_to "The Crimson Caravan", root_path, :class => "navbar-item subtitle is-4" %></i>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <!-- Weapon + Ammo partials -->
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <i class="fas fa-khanda" style="color: white; padding-right: 6px;"></i>Weapons
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
            </div>
          </div><!-- END navbar-dropdown -->
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <i class="fab fa-autoprefixer" style="color: white; padding-right: 6px;"></i>Ammunition
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
            </div>
          </div><!-- END navbar-dropdown -->
        </div><!-- END navbar-start -->

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="tag is-primary is-inverted is-outlined">
                <i class="fas fa-sign-in-alt" style="color: white; padding-right: 6px;" aria-hidden="true"></i>Log in
              </a>
              <a class="tag is-info is-inverted is-outlined">
                 <i class="fas fa-user-plus" style="color: white; padding-right: 6px;" aria-hidden="true"></i>Sign up
              </a>
            </div><!-- END .buttons -->
          </div><!-- END navbar-item -->
        </div><!-- END navbar-end -->
      </div><!-- END navbar-menu -->
    </nav>