<div class="section">
  <div>
    <%= form_tag(weapons_path, method: "get", :class => "box") do %>
      <div class="field has-addons">
        <div class="control is-expanded">
          <%= text_field_tag(:search, '', class: "input has-text-centered", placeholder: "» find me «") %>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select">
            <%= select_tag 'status', options_from_collection_for_select(@statuses, :id, :name), include_blank: 'Status Filter'  %>
          </div>
          <div class="select">
            <%= select_tag 'filter', options_from_collection_for_select(@categories, :id, :name), include_blank: 'Category Filter'  %>
          </div>
        </div>
      </div>
      <div class="control">
        <%= button_tag 'Search', {:controller => "weapons", :action => "index", :methdod => :post, class: "button is-info" , params: {search: :search, filter: :filter}} %>
        <%= button_tag 'Clear', {:controller => "weapons", :action => "index", :methdod => :post, class: "button is-info" , params: {search: '', filter: ''}} %>
      </div>
    <% end %>
  </div>

  <!-- Weapons -->
  <div class="columns is-mobile">
  <div class="column">
    <% @weapon_collection.in_groups_of(3, false) do |group| %>
      <div class="column">
        <% group.each do |weapon| %>
          <div class="column is-one-third">
            <div class="card large">

              <div class="card-image">
                <figure class="image">
                  <%= link_to(image_tag(weapon.image.medium.url, alt: "#{weapon.name}"), weapon_path(weapon)) if weapon.image? %>
                </figure>
              </div><!-- /card-image -->

              <div class="card-content">
                <div class="content">
                  <div class="content">
                    <p class="title is-4 no-padding">
                      <%= link_to weapon.name, weapon_path(weapon) %>
                    </p>
                    <span class="title is-6">
                      <% if weapon.status.name == 'new' %>
                        <span class="subtitle is-6">C$ <%= '%.2f' % (weapon.price * ( 1 - weapon.status.discount )) %></span>
                        <span class= "tag is-success"><%= weapon.status.name %></span>
                        <p class="discount"><span class="subtitle is-6">C$ <%= '%.2f' % (weapon.price) %></span></p>
                      <% elsif weapon.status.name == 'on sale' %>
                        <span class="subtitle is-6">C$ <%= '%.2f' % (weapon.price * ( 1 - weapon.status.discount )) %></span>
                        <span class= "tag is-info"><%= weapon.status.name %></span>
                        <p class="discount"><span class="subtitle is-6">C$ <%= '%.2f' % (weapon.price) %></span></p>
                      <% else %>
                        <span class="subtitle is-6">C$ <%= '%.2f' % (weapon.price * ( 1 - weapon.status.discount )) %></span>
                      <% end %>
                    </span>
                  </div>
                </div>
              </div><!-- /card-content -->

            </div><!-- /card -->
          </div><!-- /column -->
        <% end %>
      </div><!-- /row column -->
    <% end %>
  </div>
  </div>
  <%= paginate @weapon_collection %>
</div>