
<div class="columns">
  <div class="column previous-weapon"></div>
  <div class="column is-6">
    <div class="card large">
      <div class="card-image">
        <figure class="image">
          <%= image_tag(@weapon.image.url, alt: "#{@weapon.name}") if @weapon.image? %>
        </figure>
      </div><!-- /card-image -->

      <div class="card-content">
        <div class="content">
          <div class="content">
            <p class="title is-4 no-padding">
              <%= @weapon.name %>
            </p>
            <span class="title is-6">
                <% if @weapon.status.name == 'new' %>
                  <span class="subtitle is-6">C$ <%= '%.2f' % (@weapon.price * ( 1 - @weapon.status.discount )) %></span>
                  <span class= "tag is-success"><%= @weapon.status.name %></span>
                  <p class="discount"><span class="subtitle is-6">C$ <%= '%.2f' % (@weapon.price) %></span></p>
                <% elsif @weapon.status.name == 'on sale' %>
                  <span class="subtitle is-6">C$ <%= '%.2f' % (@weapon.price * ( 1 - @weapon.status.discount )) %></span>
                  <span class= "tag is-info"><%= @weapon.status.name %></span>
                  <p class="discount"><span class="subtitle is-6">C$ <%= '%.2f' % (@weapon.price) %></span></p>
                <% else %>
                  <span class="subtitle is-6">C$ <%= '%.2f' % (@weapon.price * ( 1 - @weapon.status.discount )) %></span>
                <% end %>
            </span>
          </div>
          <span class="subtitle is-5"> Ammunition:</span>
            <% @weapon.ammunitions.each do |ammo| %>
              <!-- change link_to ammo -->
              <span class="tag is-light"><%= ammo.name %></span>
            <% end %>
          <p class="box">
            <%= @weapon.description %>
          </p>
          <nav class="level is-mobile">
            <div class="navbar-item">
              <%= form_tag add_to_cart_weapon_path, method: "post" do %>
              <div class="field is-grouped">
                <p class="control">
                  <%= submit_tag("Add to cart", :class => "is-primary") %>
                  <%= select_tag "quantity", options_for_select((1..30)) %>
                </p>
              </div>
              <% end %>
            </div>
            <p id="wish" class="control">
              <input v-model="id" type="hidden" value='<%= "#{@weapon.id}" %>'>
              <input v-model="name" type="hidden" value='<%= "#{@weapon.name}" %>'>
              <button @click="persist" class="tag is-large is-outlined">
                <i class="fas fa-star" style="padding-right: 5px;"></i>
              </button>
            </p>
          </nav>

          <nav class="level is-mobile">
            <div class="field">
              <p class="control">
                <span class="icon">
                  <%= link_to content_tag(:i, 'Back', :class => "fas fa-step-backward tag is-small is-light is-outlined"), :back %>
                </span>
              </p>
            </div>
          </nav>
        </div>
      </div><!--  /card-content -->
    </div><!-- /card -->
  </div>
  <div class="column next-weapon"></div>
</div>
