<div class="container">
  <div class="columns is-mobile">
    <div class="column"></div>
    <div class="column is-8">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, :class => "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :password, :class => "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, :class => "label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :first_name, :class => "label" %>
          <%= f.text_field :first_name, autocomplete: "first-name", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :last_name, :class => "label" %>
          <%= f.text_field :last_name, autocomplete: "last-name", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :address, :class => "label" %>
          <%= f.text_field :address, autocomplete: "address", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :postal_code, :class => "label" %>
          <%= f.text_field :postal_code, autocomplete: "postal_code", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :city, :class => "label" %>
          <%= f.text_field :city, autocomplete: "city", :class => "input" %>
        </div>

        <div class="field">
          <%= f.label :province_id, :class => "label" %>
          <%= f.select :province_id, options_for_select(Province.all.map{|p|[p.name, p.id]}), { include_blank: true }, { :class => "select" } %>
        </div>

        <div class="actions field">
          <%= f.submit "Sign up", :class => "button is-primary" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
    <div class="column"></div>
</div>